main {
  padding: 16px;
  --font-var: #1cc761
}

.HomeTitleHits {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
}
.HomeTitleHits button:hover, 
.HomeTitleHits button:focus,
.HomeTitleHits button:active {
  display: flex;
  color: var(--font-var); 
}
#hits {

}